*~
Lab0/functions.sh
Lab0/test_script
Lab1a/304925492
Lab1a/sanity_script.sh
Lab1a/simpsh
Lab1b/sanity_script.sh
Lab1b/simpsh
Lab1c/*.txt
Lab1c/*.sh
*/functions.sh
*/test_script.sh
Lab3b/trivial.csv
Lab4b/pipe_test*
